Repository RaswanthMurugan20/meet.me, pull requests merged in 2021-12, with the labels that each got.

#105 close on leave readded
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
Labels: Testing, Client

#106 Resolved the issue
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 11 - 29_08 - 15 - 57 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_01 - 00 - 58 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 22 - 29 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 34 - 28 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 34 - 29 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 48 - 38 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 56 - 24 - PM.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/ServerData/GlobalServerData.xml
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 11 - 29_08 - 15 - 57 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 11 - 29_08 - 15 - 57 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 11 - 29_08 - 15 - 57 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_01 - 00 - 58 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_01 - 00 - 58 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_01 - 00 - 58 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 22 - 29 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 22 - 29 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 22 - 29 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 34 - 29 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 34 - 29 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 34 - 29 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 48 - 38 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 48 - 38 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 48 - 38 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 56 - 24 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 56 - 24 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 56 - 24 - PM/insincereMembersList.txt
  Testing/Persistence/PersistenceDownloads/TelemetryDownloads/ServerData/GlobalServerData.xml
Labels: Testing, Client, Server

#107 Logo added
  Client/AuthView.xaml
  Client/MainWindow.xaml
Labels: Client
