Repository RaswanthMurugan20/meet.me, pull requests merged in 2021-11, with the labels that each got.

#17 removed commands for start and end the meet
  Dashboard/Session.cs
  Server/Program.cs
Labels: Dashboard

#20 Revert "View and ViewModel for Authentication Added"
  Client/App.xaml
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Colors.xaml
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ScreenShareView.xaml
  Client/ScreenShareView.xaml.cs
  Client/Utils/WBStateToggleButton.xaml.cs
  Client/ViewModels/AuthViewModel.cs
  Client/ViewModels/ChatViewModel.cs
  Client/ViewModels/DashboardViewModel.cs
  Client/ViewModels/ScreenShareViewModel.cs
  Client/ViewModels/WhiteboardViewModel.cs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerFactory.cs
  Content/Server/IContentServer.cs
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/ISessionNotifications.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/MeetingCredentials.cs
  Dashboard/Server/SessionManagement/ITelemetryNotifications.cs
  Dashboard/Server/SessionManagement/ITelemetrySessionManager.cs
  Dashboard/Server/SessionManagement/IUXServerSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/SessionData.cs
  Dashboard/SessionManagerFactory.cs
  Dashboard/UserData.cs
Labels: Content, Dashboard

#27 Implemented Shape Properties Customization and Fixed Bugs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#28 Improvements in Select/Move/Rotate & Added Eraser tool
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#29 UI changes and Bounding Box Updated using Adorner
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#32 Move/Rotate/ResizeLine implemented, CreateLine incomplete
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#33 Shape Creation, Listening to server updates code skeleton added
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#34 Basic Whiteboard functionalities done
  Client/Whiteboard.xaml
  Client/WhiteboardUX.cs
Labels: Client

#36 Cursors, Eraser functionality finalized and minor bug fixes
  Client/Client.csproj
  Client/Icons/Eraser.cur
  Client/Icons/Eraser_2.cur
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#40 Cursors, Eraser functionality finalized and minor bug fixes (Recommit)
  Client/Client.csproj
  Client/Icons/Eraser.cur
  Client/Icons/Eraser_2.cur
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#41 Adding Chat UX
  Client/ChatBubbleSelector.cs
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Icons/ChatUX/arrow.png
  Client/Icons/ChatUX/close.png
  Client/Icons/ChatUX/download.jpg
  Client/Icons/ChatUX/download.png
  Client/Icons/ChatUX/download1.png
  Client/Icons/ChatUX/download2.jpg
  Client/Icons/ChatUX/file.png
  Client/Icons/ChatUX/file2.jpg
  Client/Icons/ChatUX/file3.png
  Client/Icons/ChatUX/logo.png
  Client/Icons/ChatUX/options.png
  Client/Icons/ChatUX/reply.png
  Client/Icons/ChatUX/reply3.png
  Client/Icons/ChatUX/send.png
  Client/Icons/ChatUX/upload1.png
  Client/Message.cs
  Client/ViewModel/ChatViewModel.cs
Labels: Client

#44 ScreenShare is in progress
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ScreenShareUX.xaml
  Client/ScreenShareUX.xaml.cs
  ScreenSharing/Client/Interfaces/IScreenShare.cs
  ScreenSharing/Client/ScreenShare.cs
  Server/Program.cs
Labels: Client, ScreenSharing, Server

#45 Improved Freehand tool
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#46 DashboardView and DashboardViewModel
  Client/Client.csproj
  Client/DashboardView.xaml
  Client/DashboardView.xaml.cs
  Client/ViewModel/DashboardViewModel.cs
Labels: Client

#48 Integrating with layout
  Client/App.xaml
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Client.csproj
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModels/HomePageViewModel.cs
Labels: Client

#49 screen share from the UX side is almost completed
  Client/Icons/logo.ico
  Client/Icons/meet.me_logo_no_bg.png
  Client/Icons/screenshare.png
  Client/MainWindow.xaml.cs
  Client/ScreenShare.cs
  Client/ScreenShareUX.xaml
  Client/ScreenShareUX.xaml.cs
  Server/Program.cs
Labels: Client, Server

#52 Changed the main view
  Client/App.xaml
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/MainWindow.xaml
  Client/ViewModel/ChatViewModel.cs
Labels: Client

#53 Updated "OnAllMessages"
  Client/ViewModel/ChatViewModel.cs
  Testing/Client/Chat/ChatUnitTest.cs
Labels: Testing, Client

#54 Layout integration done
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/Client.csproj
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
Labels: Client

#55 Updated Chat Viewmodel
  Client/ChatView.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Testing/Client/Chat/ChatUnitTest.cs
Labels: Testing, Client

#56 Uncommented client arrival related part in Authentication
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/MainWindow.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/AuthViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
Labels: Client

#57 Fixed minor issues
  Client/ViewModel/ChatViewModel.cs
Labels: Client

#60 Dynamic Users List
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
Labels: Client

#61 Clear on null issue(#60) solution
  Client/ViewModel/HomePageViewModel.cs
Labels: Client

#62 Fixed few issues and added few unit tests
  Client/ViewModel/ChatViewModel.cs
  Testing/UX/Chat/ChatUnitTest.cs
  Testing/UX/Chat/ChatUtils.cs
  meet.me.sln
Labels: Testing, Client

#64 Enhanced Dashboard UX
  Client/DashboardView.xaml
  Client/DashboardView.xaml.cs
  Client/ViewModel/DashboardViewModel.cs
Labels: Client

#65 Dispatcher changes
  Client/UsersList.xaml.cs
  Client/ViewModel/HomePageViewModel.cs
Labels: Client

#66 Binding Corrected
  Client/UserViewData.cs
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/HomePageViewModel.cs
Labels: Client

#67 Fixed reply feature and other bugs
  Client/ChatView.xaml.cs
  Client/Message.cs
  Client/ViewModel/ChatViewModel.cs
  Testing/UX/Chat/ChatUnitTest.cs
  Testing/UX/Chat/ChatUtils.cs
  Testing/UX/Chat/ChatViewModelUnitTests.cs
  Testing/UX/Chat/ChatViewUnitTests.cs
Labels: Testing, Client

#69 Fixed KeyNotFound Exception and removed starring for file msgs
  Client/ChatView.xaml
  Client/ViewModel/ChatViewModel.cs
Labels: Client

#71 Updated ChatView and Changed default name and extension for file download
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
Labels: Client

#73 Itemsource error corrected and Dispatcher unit test added
  Client/UserViewData.cs
  Client/UsersList.xaml.cs
  Client/ViewModel/HomePageViewModel.cs
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
Labels: Testing, Client

#72 Updated ChatView
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Message.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Client/ViewModel/ChatViewModel.cs
Labels: Client

#68 issue 72 is fixed
  Client/ScreenShare.cs
  Client/ScreenShareUX.xaml.cs
  ScreenSharing/Client/Interfaces/IScreenShare.cs
  Server/Program.cs
Labels: Client, ScreenSharing, Server

#74 fixed errors and used instances from respective factories
  Client/Client.csproj
  Client/MainWindow.xaml.cs
  Client/ScreenShare.cs
  Client/ScreenShareUX.xaml.cs
  Client/ViewModel/ScreenShareViewModel.cs
Labels: Client

#77 Unit test added
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ViewModel/AuthViewModel.cs
  Testing/Testing.csproj
  Testing/UX/Authentication/AuthUtils.cs
  Testing/UX/Authentication/AuthViewModelUnitTest.cs
Labels: Testing, Client

#78 Whiteboard End to End integration and testing done
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
  Testing/UX/Whiteboard/WhiteboardViewModelUnitTests.cs
Labels: Testing, Client

#79 Fixed ScrollBar issue and added unit tests
  Client/ChatBubbleSelector.cs
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Message.cs
  Client/ViewModel/ChatViewModel.cs
  Testing/UX/Chat/ChatUnitTests.cs
  Testing/UX/Chat/ChatUtils.cs
  Testing/UX/Chat/ChatViewModelUnitTests.cs
  Testing/UX/Chat/ChatViewUnitTests.cs
Labels: Testing, Client

#80 Fixed the unit test
  Client/ChatView.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Testing/UX/Chat/ChatUnitTests.cs
  Testing/UX/Chat/Test_File.pdf
Labels: Testing, Client

#81 Testing and Code arrangement
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Client/UserViewData.cs
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/HomePageViewModel.cs
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
Labels: Testing, Client

#82 Current client check removed
  Client/ViewModel/HomePageViewModel.cs
Labels: Client

#83 Fixed the user leave issue
  Client/ViewModel/ChatViewModel.cs
Labels: Client

#85 Unit Tests Added, Final changes to view and bugs fixed
  Client/Theme2.xaml
  Client/Utils/WBStateToggleButton.xaml.cs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
  Testing/UX/Whiteboard/WhiteboardViewModelUnitTests.cs
Labels: Testing, Client

#86 Coding conventions
  Client/AuthView.xaml.cs
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ViewModel/AuthViewModel.cs
  Testing/UX/Authentication/AuthUtils.cs
  Testing/UX/Authentication/AuthViewModelUnitTest.cs
Labels: Testing, Client

#87 Unit test for polyline fix attempt
  Testing/UX/Whiteboard/WhiteboardViewModelUnitTests.cs
Labels: Testing

#88 Fixed bugs in Dashboard VM
  Client/ViewModel/DashboardViewModel.cs
Labels: Client

#91 Whiteboard UX finalised
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
  Testing/UX/Whiteboard/WhiteboardViewModelUnitTests.cs
Labels: Testing, Client

#93 Get user function added
  Client/MainWindow.xaml.cs
  Client/UsersList.xaml.cs
  Client/ViewModel/HomePageViewModel.cs
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
Labels: Testing, Client

#92 Fixed few unit tests
  Client/ChatBubbleSelector.cs
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Testing/UX/Chat/ChatUnitTests.cs
  Testing/UX/Chat/ChatUtils.cs
Labels: Testing, Client

#89 Bugs fixed in analytics plotting
  Client/DashboardView.xaml
  Client/DashboardView.xaml.cs
  Client/ViewModel/DashboardViewModel.cs
Labels: Client

#95 Final Touches to View and Code Clean-Up
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#96 screenshare is done
  Client/MainWindow.xaml.cs
  Client/ScreenShareUX.xaml
  Client/ScreenShareUX.xaml.cs
  Client/ViewModel/ScreenShareViewModel.cs
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
Labels: Dashboard, Client

#97 Made final changes in view
  Client/ChatView.xaml
Labels: Client

#98 Layout and Theme modifications
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/UsersList.xaml
Labels: Client

#99 Canvas Colors Updated in View
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
Labels: Client

#100 Made final changes in chat view
  Client/ChatView.xaml
Labels: Client

#101 Added author comments and basic tests
  Client/DashboardView.xaml.cs
  Client/ViewModel/DashboardViewModel.cs
  Testing/UX/Dashboard/DashboardViewModelUnitTests.cs
Labels: Testing, Client

#102 screen sharing UX is completed
  Client/ScreenShareUX.xaml
  Client/ViewModel/ScreenShareViewModel.cs
  Server/Program.cs
  Testing/UX/Screenshare/ScreenScreenUnitTests.cs
Labels: Testing, Client, Server

#103 unit test updated
  Testing/UX/Whiteboard/WhiteboardViewModelUnitTests.cs
Labels: Testing
